*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url(/images/bg-desktop.svg);
    background-position-x: 50px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    padding: 20px 50px;
}

h1{
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

.container p{
    margin: 40px 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 20px;
}

.container img{
    width: 100%;
    min-width: 481px;
}

.container div{
    width: 45%;
}

.container div:first-child{
    min-width: 481px;
    margin-right: 40px;
    text-align: center;
}

.container div:last-child a{
    text-decoration: none;
    padding: 15px 60px;
    background-color: #ffffff;
    border-radius: 30px;
    color: #43337a;
    transition: .3s;
    /*adicionar border box*/
}

.container div:last-child a:hover{
    background-color: #e980e7;
    color: #ffffff;
    transition: .3s;
}

footer{
    margin-top: 15px;
    padding: 0px 50px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    display: flex;
}

.icons img{
    height: 15px;
}

.icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    padding: 5px;
    border: 2px solid #FFF;
    border-radius: 50%;
    transition: .3s;
    margin-left: 10px;
}

.icons a:hover{
    border-color: #f654c4;
    transition: .3s;
}

@media (max-width: 880px){

    body{
        background-image: url(/images/bg-mobile.svg);
    }

    header{    
        padding-top: 15px;
        margin-bottom: 25px;
    }

    .container{
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }

    h1{
        width: auto;
    }

    .container div{
        width: 100%;
    }

    .container div:first-child{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container div:first-child,
    .container div img{
        min-width: auto;
    }

    .container div img{
        max-width: 400px;
    }

    .container p{
        margin-top: 20px;
    }

    footer {
        margin-top: 40px;
    }
}

/*mobile will be min-width 500px */

@media (max-width: 520px){
    header{
        text-align: center;
    }

    header img{
        margin-left: -15px;
        width: 70%;
        min-width: 200px;
    }

    .container h1{
        font-size: 28px;
    }

    .container p{
        font-size: 14px;
    }

    .container div img{
        min-width: 200px;
    }

    footer {
        flex-direction: column;
        margin-top: 25px;
    }

    .attribution{
        text-align: center;
    }

    .icons{
        order: -1;
        margin-bottom: 20px;
    }
}